* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

.hero__section {
  background: url(./images/heroSectionBackground.png);
  background-size: cover;
  background-position: center;
  height: 60vh;
  color: white;
  margin-bottom: 32px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 0;
  font-size: 14px;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.navbar__menu_container {
  display: flex;
  gap: 16px;
}

.navbar__menu_container .user_icon {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  border: 1px solid white;
  display: none;
}

.hero__section_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  text-align: center;
  margin-top: 32px;
}

.hero__section_logo {
  width: 240px;
  height: auto;
}
.hero__section_title {
  text-align: center;
  font-size: 32px;
  font-weight: 350;
}

.hero__Section_input_container {
  font-size: 16px;
  width: 50%;
  background-color: white;
  padding: 16px 12px;
  display: flex;
  align-items: center;
  gap: 12px;
  border-radius: 10px;
  overflow: hidden;
}
.hero__Section_input_container i {
  font-size: 20px;
}

.location {
  color: red;
  opacity: 50%;
}
.search {
  color: #333;
  opacity: 50%;
}
.input__container_location {
  flex-basis: 35%;
  outline: none;
  border: none;
  border-right: 2px solid #e0e0e0;
}
.input__container_search {
  flex: 1;
  outline: none;
  border: none;
}

.container {
  margin: 0 auto;
  width: 70%;
}
.weoffer__section {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.weoffer__section_card {
  width: 45%;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #e0e0e0;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
}
.weoffer__section_card:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.weoffer__section_card_image {
  object-fit: cover;
  object-position: center;
  height: 132px;
}
.weoffer__section_card_content {
  padding: 18px;
}
.weoffer__section_card_content h2 {
  font-size: 16px;
  font-weight: 500;
  color: #333;
}
.weoffer__section_card_content p {
  font-size: 14px;
  color: #555;
}

@media only screen and (max-width: 600px) {
  .navbar a {
    font-size: 18px;
  }
  .navbar__menu_container .user_icon {
    display: flex;
  }

  .link {
    display: none;
  }
  .hero__section {
    height: 70vh;
  }

  .hero__section_container {
    gap: 50px;
  }

  .hero__section_logo {
    width: 280px;
    height: auto;
  }
  .hero__section_title {
    text-align: center;
    font-size: 28px;
    font-weight: 350;
  }
  .hero__Section_input_container {
    font-size: 16px;
    width: 90%;
    background-color: white;
    padding: 16px 12px;
    display: flex;
    align-items: center;
    gap: 12px;
    border-radius: 10px;
  }

  .input__container_location {
    flex-basis: 20%;
    outline: none;
    border: none;
    border-right: 2px solid #e0e0e0;
  }
  .input__container_search {
    flex: 1;
    outline: none;
    border: none;
    overflow: hidden;
  }
  .weoffer__section {
    flex-direction: column;
    gap: 20px;
  }
  .weoffer__section_card {
    width: 95%;
  }
}
