* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

.hero__section {
  background: url(./images/heroSectionBackground.png);
  background-size: cover;
  background-position: center;
  height: 60vh;
  color: white;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 64px;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.navbar__menu_container {
  display: flex;
  gap: 16px;
}

.navbar__menu_container .user_icon {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  border: 1px solid white;
  display: none;
}

.hero__section_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  height: calc(60vh - 64px);
  text-align: center;
}

.hero__section_logo {
  width: 320px;
  height: auto;
}
.hero__section_title {
  text-align: center;
  font-size: 32px;
  font-weight: 350;
}

.hero__Section_input_container {
  font-size: 16px;
  width: 50%;
  background-color: white;
  padding: 16px 12px;
  display: flex;
  align-items: center;
  gap: 12px;
  border-radius: 10px;
  overflow: hidden;
}
.hero__Section_input_container i {
  font-size: 20px;
}

.location {
  color: red;
  opacity: 50%;
}
.search {
  color: #333;
  opacity: 50%;
}
.input__container_location {
  flex-basis: 35%;
  outline: none;
  border: none;
  border-right: 2px solid #e0e0e0;
}
.input__container_search {
  flex: 1;
  outline: none;
  border: none;
}

@media only screen and (max-width: 600px) {
  .navbar__menu_container .user_icon {
    display: flex;
  }

  .link {
    display: none;
  }
  .hero__section {
    height: 80vh;
  }

  .hero__section_logo {
    width: 280px;
    height: auto;
  }
  .hero__section_title {
    text-align: center;
    font-size: 28px;
    font-weight: 350;
  }
  .hero__Section_input_container {
    font-size: 16px;
    width: 90%;
    background-color: white;
    padding: 16px 12px;
    display: flex;
    align-items: center;
    gap: 12px;
    border-radius: 10px;
  }

  .input__container_location {
    flex-basis: 20%;
    outline: none;
    border: none;
    border-right: 2px solid #e0e0e0;
  }
  .input__container_search {
    flex: 1;
    outline: none;
    border: none;
    overflow: hidden;
  }
}
